.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .logo {
    height: 40px;
  }
  

  .nav-links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Iconos */
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }
  .cart-container {
    position: relative;
    display: inline-block;
  }
  
  .icon {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .cart-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 20px;
      flex-direction: column;
      background-color: #111;
      padding: 10px;
      display: none;
      border-radius: 5px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }
  