
.product-list {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url("/img/fondo1.svg"), url("/img/fondo2.svg");
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el espacio visible */
    background-position: center center; /* Centra las imágenes de fondo */
    background-repeat: no-repeat;
    background-attachment: local; /* El fondo se desplaza con el contenido */
    color: #fff;
    min-height: 100vh; /* Hace que el contenedor ocupe al menos toda la altura de la pantalla */
    margin: 0; /* Elimina márgenes para asegurar que ocupe todo el espacio */
    padding: 20px; /* Ajusta el padding si es necesario */
  }
  
.div-titulo{
    letter-spacing: 2px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase
}
h1{
    font-size: 60px;
}
