.cart {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: auto;
}

.cart-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #040404;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.cart-items {
  padding: 0;
  margin: 0;
}

.div-li {
  padding: 20px;
  border: 1px solid #593333;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.li-card {
  padding: 10px;
}

.li-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.div-eliminar {
  margin-top: 10px;
}

.eliminar {
  background-color: #ff4747;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.eliminar:hover {
  background-color: #ff2e2e;
}
.button-div{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}