
.login-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

/* Outer Border */
.outer-border {
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
}

/* Inner Border */
.inner-border {
  border: 1px solid #fff;
  padding: 10px;
}

/* Login Box */
.login-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 70px;
  text-align: center;
  width: 100%;
  max-width: 700px;
}

.login-box h1 {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 15px 0 5px;
  text-align: left;
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background-color: #ddd;
  font-size: 1rem;
}

button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #f2f2f2;
  scale: 1.1;
}

p {
  margin-top: 10px;
  font-size: 0.9rem;
}

.register-link {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}
