/* Estilos para el pop-up */
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    border-radius: 8px;
    z-index: 1000;
  }
  
  .pop-up button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #af614c;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .pop-up button:hover {
    background-color: #f60000;
  }
  
  