/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1000;
  }
  
  .logo {
    height: 40px;
  }
  
  /* Links de navegación */
  .nav-links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Iconos */
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  /* Menu Hamburguesa */
  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 20px;
      flex-direction: column;
      background-color: #111;
      padding: 10px;
      display: none;
      border-radius: 5px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }
  

  main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444343;
    padding: 55px 65px;
    border: 1px whitesmoke solid; 
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444343;
    padding: 50px 70px;
    border: 1px whitesmoke solid;
  }
